@import url('https://fonts.googleapis.com/css?family=Advent+Pro');

$font-family-base: Advent Pro;
$display-color: #ECEFF1;
$theme-colors: (
        "primary": #D4E157,
        "secondary": #CDDC39,
        "tertiary": #C0CA33,
        "display": #ECEFF1,
        "dark": #FFCA28,
        "light": #606060,
);
